<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reminder">

    <application
        android:allowBackup="true"
        android:label="Reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".SnoozeReceiver"
            android:exported="false" />
    </application>
</manifest>
